<div class="flex flex-column gap-2">
    <a [routerLink]="['/employee-form/new']" class="p-button font-bold w-max"> New Employees
    </a>
    <div class="flex gap-4 flex-wrap">
        @for (employee of employees; track employee.id) {
            <p-card header={{employee.name}} subheader={{employee.paternalSurname}} [style]="{ width: '260px' }">
                <ng-template pTemplate="footer">
                    <div class="flex gap-2">
                        <p-button (onClick)="deleteEmployee(employee.id)" label="Delete" severity="danger" />
                        <a [routerLink]="['/employee-form', employee.id]" class="p-button font-bold"> Edit
                        </a>
                    </div>
                </ng-template>
            </p-card>
            }@empty {
                <p>Employees not found</p>
            }
    </div>
</div>