<!-- <div class="flex flex-column gap-2">
    <a [routerLink]="['/book-loan-form/new']" class="p-button font-bold w-max"> Book Loans
    </a>
    <div class="flex gap-4 flex-wrap">
        @for (bookLoan of bookLoans; track bookLoan.id) {
            <p-card header={{bookLoan.id}} subheader={{bookLoan.status}} [style]="{ width: '260px' }">
                <ng-template pTemplate="footer">
                    <div class="flex gap-2">
                        <p-button (onClick)="deleteBookLoan(bookLoan.id)" label="Delete" severity="danger" />
                        <a [routerLink]="['/book-loan-form', bookLoan.id]" class="p-button font-bold"> Edit
                        </a>
                    </div>
                </ng-template>
            </p-card>
            }@empty {
                <p>Loans not found</p>
            }
    </div>
</div> -->

<p-orderList [value]="bookLoans" [listStyle]="{ height: '40rem' }" filterBy="status" filterPlaceholder="Filter by Status">>
    <ng-template pTemplate = "header" class="flex justify-content-center">
        <p-button [routerLink]="['/book-loan-form/new']" size="small" icon="pi pi-plus" label="New Book-Loan" class="font-bold w-max" [outlined]="true" severity="help" /> 
         <span class="header-title  align-items-center ">List of Book - Loans</span>
    </ng-template>
    <ng-template let-bookLoan pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
            <div class="flex-1 flex flex-column gap-2">
                <span class="font-bold">{{ bookLoan.id }}. {{ bookLoan.status }} </span>
                <span>Return Date: {{bookLoan.returnDate}}</span>
                <div class="flex gap-2">
                    <!-- <p-button (onClick)="deleteBookLoan(bookLoan.id)" [rounded]="true" size="small" icon="pi pi-times" label="Delete" severity="danger" />
                    <p-button [routerLink]="['/book-loan-form', bookLoan.id]" [rounded]="true"  icon="pi pi-pencil" size="small"  label="Edit" severity="info" /> -->
                </div>
            </div>
        </div>
    </ng-template>
</p-orderList>