
<div class="flex justify-content-center align-items-center min-h-screen w-full">
    <p-card header="Book-Loan Form" class="w-10">
        <form [formGroup]="formBookLoan" (ngSubmit)="edit ? updateBookLoan() : createBookLoan()" class="flex flex-column gap-2">
            <div class="field flex flex-column gap-1">
                <label for="returnDate">Return Date</label>
                <p-calendar [showIcon]="true" 
                [showOnFocus]="false"  formControlName="returnDate" />
            </div>
            <div class="field flex flex-column gap-1">
                <label for="status">Loan Status</label>
                <input type="text" pInputText formControlName="status" />
            </div>
            <div class="field flex flex-column gap-1">
                <label for="book">Books</label>
                <p-dropdown
                    [options]="books"
                    formControlName="book"
                    optionLabel="title"
                    optionValue="id"
                    placeholder="Select an Book"
                ></p-dropdown>
            </div>
            <div class="field flex flex-column gap-1">
                <label for="loan">Loan</label>
                <p-dropdown
                    [options]="loans"
                    formControlName="loan"
                    optionLabel="id"
                    optionValue="id"
                    placeholder="Select an Loan"
                    [readonly]="true"
                ></p-dropdown>
            </div>
            <div class="flex gap-2">
                <p-button label="Save"  [rounded]="true"  icon="pi pi-save" size="small" [loading]="isSaveInProgress" type="submit" severity="help" />
            </div>
        </form>
    </p-card>
</div>