<div class="flex flex-column gap-2">    
    <div class="flex gap-4 flex-wrap">
        @for (book of books; track book.id) {
            <p-card header={{book.title}} subheader={{book.author}} [style]="{ width: '260px' }">
                <ng-template pTemplate="header">
                    <img 
                        class="w-full img"
                        height="180px"
                        alt="Card" 
                        [src]="book.image?book.image.imageUrl:'../../assets/default.jpg'"
                    />
                </ng-template>
                <p>
                    Pages: {{book.pages}}
                </p>
                <p>
                    Available:  {{book.available}}
                </p>
                <p>
                    Borrowed:  {{book.borrowed}}
                </p>
                    <div class="flex gap-2">
                        <p-button (onClick)="deleteBook(book.id)" [rounded]="true" size="small" icon="pi pi-times" label="Delete" severity="danger" />
                        <p-button [routerLink]="['/book-form', book.id]" [rounded]="true"  icon="pi pi-pencil" size="small"  label="Edit" severity="info" />
                    </div>
            </p-card>
            }@empty {
                <p>Books not found</p>
            }
    </div>
</div>