<div class="flex flex-column gap-2">
    <a routerLink="book-form/new" class="p-button font-bold w-max">
        Create new Book
    </a>
    <a routerLink="employee" class="p-button font-bold w-max">
        Employees
    </a>
    <a routerLink="user" class="p-button font-bold w-max">
        Users
    </a>
    <a routerLink="loan" class="p-button font-bold w-max">
        Loans
    </a>
    <div class="flex gap-4 flex-wrap">
        @for (book of books; track book.id) {
            <p-card header={{book.title}} subheader={{book.author}} [style]="{ width: '260px' }">
                <ng-template pTemplate="header">
                    <img 
                        class="w-full img"
                        height="180px"
                        alt="Card" 
                        [src]="book.image?book.image.imageUrl:'../../assets/default.jpg'"
                    />
                </ng-template>
                <p>
                    Pages: {{book.pages}}
                </p>
                <p>
                    Price:  {{book.price}}$
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-2">
                        <p-button (onClick)="deleteBook(book.id)" label="Delete" severity="danger" />
                        <a routerLink="book-form/{{book.id}}" class="p-button font-bold">
                            Edit
                        </a>
                    </div>
                </ng-template>
            </p-card>
            }@empty {
                <p>Books not found</p>
            }
    </div>
</div>